.center-block {
	margin: 0px auto;
	float: none;
}
.addButton {
	font-size: 120%;
	margin: 5px;
}

.task {
	border-radius: 20px;
	margin: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
